.backgroundGrid{
    position: relative;
    z-index: 1;
}

.backgroundGrid::before{
    content: '';
    top: 20%;
    bottom: 20%;
    left: 20%;
    right: 40%;
    filter: blur(100px);
    position: absolute;
    background-color: #06b6d4;
    z-index: -1;
}